*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
h1{text-align: center;
color: green;}

.navbar{
	background-color: green;
display: flex;
justify-content: center;
}

.footer{background-color: green;
color: white;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 4px;
}

.fotp{text-align: center;}

.navbar a{color: white;
text-align: center;
text-transform: uppercase;
font-weight: bold;
padding: 14px 28px;
text-decoration: none;}
#toggle{display: none;}
.togglearea{background-color: green;
border-bottom: 5px solid white;
color: white;
padding: 10px;
display: flex;
justify-content: flex-start;

}
.togglearea label{

	background-color: white;
	height: 45px;
	width: 45px;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
flex-direction: column;
}


.togglearea label span {
background-color: black;
height: 3px;
width: 88%;
margin: 5px 0px;

}


.navbar a:hover{background-color: white;
	color: black;
}
.togglearea
{display: none;}
@media screen and (max-width: 700px)
{
	.navbar{flex-direction: column;
		display: none;
}
.togglearea{display: flex;}
#toggle:checked + .navbar{display: flex;}
#toggle label{text-align: right;}
}