
.topnav{background-color: black;overflow: hidden;width: 100%;}
.topnav a{color: green;
	text-decoration: none;
padding: 5px;float: left;font-family: sans-serif;}

.topnav a:hover{background-color: gray;color: blue;}
.topnav a.active{background-color: orange;}
.topnav a:focus{background-color: gray;}
.f{color: black;text-align: center;margin: 0px;}

hr{color: blue;margin: 0px}
p{font-family: sans-serif;
margin: 0px;}
.name{color: green;background-color:;}

body{padding-left: 5px;
padding-bottom: 0px;
padding-right: 5px;
padding-top: 0px;}
footer{text-align: center;padding-top: 10px;padding-bottom: 10px;}
.use{width: 70px;
position: all;}
img{width: 270px;}
h4{padding-top: 20px;margin: 0px;color: black;}
.profile,.download{text-align: right;
padding-bottom: 0px;
color: red;
margin: 0px}
b{color: green;}
a{text-decoration: none;
color: red;}

.up{margin: 0px;width:20px;height: 25px;}
footer{background-color: black;color: gray;}
.foot{text-align: center;color: gray;font-family: sans-serif;}
.abia{font-size: 27px;margin: 0px;}
.email{text-align: center;}
.footcontact{text-align: center;}
.p{text-align: center;color: gray;}
h3{text-align: center;}
